.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: antiquewhite;
}

.banner__imagem {
    width: 100vw;
    max-width: 768px;
    box-shadow: rgb(0 0 3 / 85%) 0px 5px 9px 3px;
}