.rodape {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: indigo;
    color: navajowhite;
    
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    text-align: center;
}

.rodape__copyright {
    padding-top: 1rem;
}

.rodape__icones {
    padding-bottom: 1em;
}

.rodape__icone {
    margin: 0 0.5rem;
    height: 2.5rem;
}

.rodape__form {
    padding-top: 1rem;

    border-radius: .3rem;
}

.rodape__input {
    border: 0.1rem;
    border-radius: 1rem;

    margin: 0 0.1rem;
    
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.rodape__input-enviar {
    font-family: "Silkscreen", "Open Sans", sans-serif;
}