.rodape {
    height: 10vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;

    margin-top: auto;
    
    background-color: indigo;
    font-size: 15px;
    color: navajowhite;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    font-size: 2rem;
}

.rodape p {
    height: 2rem;
    padding: 0 5%;
}

.rodape__form {
    text-align: center;

    height: 3vh;
}

.rodape__form-input {
    display: flex;
    height: 1.5vh;
}