.galeria {
    background-color: antiquewhite;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.galeria__icone {
    margin: 0.3rem;
    width: 2rem;
}

.galeria__subtitulo {
    font-weight: 400;
    font-size: 1.125rem;
}

.galeria__painel {
    box-shadow: black 0px 0px 5px 1px;
    margin: 1rem 0;
    background-color: #FEFEFE;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.galeria__painel-imagem {
    width: 100%;
    border-top: 3px;
}

.galeria__painel-legenda {
    font-family: "Silkscreen", "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 0;
}

@media screen and (min-width: 768px) {
    .galeria__subtitulo {
        padding-bottom: 0.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .galeria {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
    }

    .galeria__subtitulo {
        width: 100%;
    }
    
    .galeria__painel {
        flex-grow: 1;
        margin: 1rem 1rem;
        width: 20%;
        min-height: 2rem;
    }

    .galeria__painel-legenda {
        margin-top: auto;
        margin-bottom: 0.3rem;
    }
}