.cabecalho {
    background-color: indigo;
    color: navajowhite;
    
    width: 100%;

    padding-top: .75rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho__titulo {
    font-size: 7rem;
    font-weight: 700;

    text-transform: uppercase;
    margin-bottom: 1rem;
    
    border-bottom: .5rem solid navajowhite;
}

.cabecalho__nav {
    text-align: center;
    padding-bottom: 1rem;
}

.cabecalho__link {
    display: inline-block;
    
    font-size: 3rem;
    margin: 0 1.2rem 1.25rem 1.2rem;
}
