.sobre {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    background-color: antiquewhite;
}
.sobre__titulo {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.sobre__texto {
    font-size: 1rem;
}

.sobre__gif {
    display: block;
    width: 10rem;
    margin: 1rem auto; 
}