body {
    font-family: "Open Sans", sans-serif;
}

.titulo {
    font-size: 2rem;
    font-family: "Silkscreen";
}

.container {
    padding: 0 6%;
}

@media screen and (min-width: 1024px) {
    a {
        transition: 400ms all;
    }

    a:hover {
        color: lightcoral;
    }    
}