/* tags */
table {
    color: #D2312D;
    background-color: #2DCED2;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: indigo;
    color: navajowhite;
    padding: 15px;
    height: 80px;
}


div {
    height: 50px;
}


footer {
    text-align: center;
    clear: both;
    background-color: indigo;
    height: 50px;
    font-size: 12px;
    color: navajowhite;
    padding: 20px;
}  

  /* ids */
#divisorias {
    margin: 0px;
    min-height: 500px;
}

#div_left {
    background-color: navajowhite;
    width: 70%;
    float: left;
    min-height: inherit;
    font-family: Helvetica, Arial, sans-serif;
}

#div_right {
    background-color: indigo;
    width: 30%;
    float: right;
    min-height: inherit;
}

#apresentation {
    text-align: center;
    color: ghostwhite;
}

/* classes */
.container {
   width: 960px;
   margin: 0 auto;
}