/* tags */
table {
    color: #D2312D;
    background-color: #2DCED2;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: indigo;
    color: navajowhite;
}


div {
    height: 50px;
}


footer {
    text-align: center;
    clear: both;
    background-color: #808080;
    height: 100px;
    font-size: 12px;
}  

  /* ids */
#divisorias {
    margin: 10px;
    min-height: 500px;
}

#div_left {
    background-color: navajowhite;
    width: 70%;
    float: left;
    min-height: inherit;
}

#div_right {
    background-color: indigo;
    width: 30%;
    float: right;
    min-height: inherit;
}

#apresentation {
    text-align: center;
    color: ghostwhite;
}