.about {
    background-color: antiquewhite;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.about__icon {
    display: block;
    margin: 0 auto 0.3rem auto;
    width: 2.5rem;
}
.about__title {
    padding-bottom: 1rem;
    text-align: center;
}

.about__text {
    font-size: 1rem;
}

.about__gif {
    box-shadow: 6px 6px 18px 1px black;
    display: block;
    margin: 1rem auto;
    width: 10rem;
}