.banner {
    align-items: center;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
}

.banner__image {
    box-shadow: rgb(110 94 94) 0px 10px 10px 0.5px;
    max-width: 768px;
    width: 100vw;
}

@media screen and (min-width: 768px) {
    .banner {
        padding: 1.5rem 0 0.5rem 0;
    }
    
}