.header {
    align-items: center;
    background-color: indigo;
    box-sizing: border-box;
    color: navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: .75rem;
    width: 100%;
}

.header__title {
    border-bottom: .5rem solid navajowhite;
    font-family: "Silkscreen";
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.header__nav {
    padding-bottom: 1rem;
    text-align: center;
}

.header__item {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 .5rem 1.25rem .5rem;
}
